@import 'variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


a, li, span, button {
    font-family: $poppins;
}

p {
    font-family: $opensans-regular;
    @apply text-primary-text;
}

.p-bold {
    font-family: $opensans-extra;
    font-weight: 800;
}

strong {
    font-family: $opensans-bold;
}

h1, h2, h3, h4, h5 {
    font-family: $poppins;
    color: $title-blue;
    margin: 0;
}

h1, h2 {
    font-size: 64px;
    line-height: 1em;
    font-weight: 600;
}

.poppins {
    font-family: $poppins;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}

h3 {
    font-size: 32px;
    line-height: 1.2em;
}

h4 {
    font-size: 26px;
}

.h-bold {
    font-family: $poppins-bold;
}

.light {
    font-family: $poppins-light;
}

//Banner and Buttons
.white-b {
    border-color: #5B24F2;
    border: solid 1px;
    color: #8D78E0;
    transition: all 500ms ease;


    &:hover {
        color: #fff;
        background-color: #7052E5;
    }
}

.purple-b {
    border: 1px solid;
    color: #FFF;
    background-color: #7052E5;
    transition: all 500ms ease;

    &:hover {
        border: solid 1px #7052E5;
        background: #FFF;
        color: #7052E5;
    }
}


.orange {
    color: $orange;
}

.teal {
    color: $teal;
}

.register-menu {
    transform: translateX(100%);
    transition: all 600ms ease;
    z-index: 50;
}

.register-menu-open {
    transform: translateX(0);
  }

//Header

.blue, nav, li {
    color: $title-blue;
}

//How

.how {
    background-color: $purple;
}

/*Spinning words*/
.words h3 {
    animation: spin_words 7s infinite;
}

@keyframes spin_words {
    20% {
        transform: translateY(-112%);
    }

    35% {
        transform: translateY(-100%);
    }

    45% {
        transform: translateY(-212%);
    }

    60% {
        transform: translateY(-200%);
    }

}

.progress {
    border-radius: 25px;
    width: 300px;
    animation: progress_bar 7s infinite;
}

@keyframes progress_bar {
    0% {
        width: 33%;
        background-color: #FF8149;
    }
    33% {
        width: 66%;
        background-color: #7087E5;
    }
    66% {
        width: 100%;
        background-color: #3EC1AA;
    }
    100% {
        width: 33%;
        background-color: #FF8149;
    }

}

//Discover

.discover {
    background: linear-gradient(#8D78E0, #15DFBB);
}

.money-blue {
    filter: invert(80%) sepia(21%) saturate(2448%) hue-rotate(189deg) brightness(100%) contrast(86%);
    transform: rotate(354deg);
}



//Global form styles

input[type=checkbox] {
    width: auto;
}

input, .input {
    background-color: transparent;
    border: 1px solid #656ED3;
    border-radius: 2em;
    padding: 5px 12px;
    resize: none;
    width: 100%;
}
//Number inputs without arrows

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


section {
    margin: 1em 0;
}

label {
    font-family: $poppins;
    color: $title-blue;
    font-weight: 600;
}

select {
    padding: 8px;
    border: 1px solid #656ED3;
    border-radius: 2em;
    padding: 5px 12px;
    resize: none;
    width: 100%;

    appearance: none;
    background-image: url("/assets/images/vectors/arrrow.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;

}

//Forms w clip paths

.triangle {
    clip-path: polygon(75% 0, 100% 100%, 100% 0);
    background-color: #7052E5;
}

.heart {
    transition: all 300ms ease;

    &:hover {
        fill: #DEE1E6;
        cursor: pointer;
    }
}

.fav-button:hover {
    background-color: #326B88;
    color: #FFF;
    path {
        stroke: #FFF;
    }
}

.sync-button:hover {
    background-color: #FFF;
    color: #326B88;
    path {
        fill: #326B88;
    }
}

/* Dialog */
dialog {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
dialog[open] {
    opacity: 1;
    pointer-events: inherit;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
}

@layer components {
    .container {
        @apply md:w-[1250px] mx-auto;
    }
    .primary-btn {
        @apply border text-white bg-purple transition-all duration-500 ease-in-out hover:border-purple hover:bg-white hover:text-purple md:mx-4 px-6 py-2 rounded-3xl text-xl md:text-base md:w-fit w-full text-center disabled:opacity-30;
    }
    .secondary-btn {
        @apply py-2 px-4 rounded-3xl border border-purple text-purple transition-all duration-500 ease-in-out hover:bg-purple hover:text-white text-xl md:text-base md:w-fit w-full text-center disabled:opacity-30;
    }
    .green-btn {
        @apply h-full py-2 px-4 text-[#326B88] border-[#326B88] border rounded-md hover:bg-[#326B88] hover:text-white duration-500;
    }
}
