@import 'variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


a, li, span {
    font-family: $poppins;
}

p {
    font-family: $opensans-regular;
}

.p-bold {
    font-family: $opensans-extra;
    font-weight: 800;
}

strong {
    font-family: $opensans-bold;
}

h1, h2, h3, h4, h5 {
    font-family: $poppins;
    color: $title-blue;
    margin: 0;
}

h1 {
    font-size: 64px;
    line-height: 1em;
    font-weight: 600;
}

h3 {
    font-size: 32px;
    line-height: 1.2em;
}

h4 {
    font-size: 26px;
}

.h-bold {
    font-family: $poppins-bold;
}

//Banner and Buttons
.white-b {
    border-color: #5B24F2;
    border: solid 1px;
    color: #8D78E0;
}

.purple-b {
    border: none;
    color: #FFF;
    background: linear-gradient(to right, #8D78E0 20%, #5F34F5 100%);
}


.orange {
    color: $orange;
}

.teal {
    color: $teal;
}

.register-menu {
    transform: translateX(100%);
    transition: all 600ms ease;
    z-index: 50;
}

.register-menu-open {
    transform: translateX(0);
  }

//Header

.blue, nav, li {
    color: $title-blue;
}

//How

.how {
    background-color: $purple;
}

/*Spinning words*/
.words h3 {
    animation: spin_words 7s infinite;
}

@keyframes spin_words {
    20% {
        transform: translateY(-112%);
    }

    35% {
        transform: translateY(-100%);
    }

    45% {
        transform: translateY(-212%);
    }

    60% {
        transform: translateY(-200%);
    }

}

.progress {
    border-radius: 25px;
    width: 300px;
    animation: progress_bar 7s infinite;
}

//Discover

.discover {
    background: linear-gradient(#8D78E0, #15DFBB);
}

.money-blue {
    filter: invert(80%) sepia(21%) saturate(2448%) hue-rotate(189deg) brightness(100%) contrast(86%);
    transform: rotate(354deg);
}

@keyframes progress_bar {
    0% {
        width: 33%;
        background-color: #FF8149;
    }
    33% {
        width: 66%;
        background-color: #7087E5;
    }
    66% {
        width: 100%;
        background-color: #3EC1AA;
    }
    100% {
        width: 33%;
        background-color: #FF8149;
    }

}

//Global form styles

input[type=checkbox] {
    width: auto;
}

input, select, .input {
    background-color: transparent;
    border: 1px solid #656ED3;
    border-radius: 2em;
    padding: 5px 12px;
    resize: none;
    width: 100%;
}


section {
    margin: 1em 0;
}

label {
    font-family: $poppins;
    color: $title-blue;
    font-weight: 600;
}

select {
    padding: 8px;
}

//Forms w clip paths 

.triangle {
    clip-path: polygon(75% 0, 100% 100%, 100% 0);
    background-color: #7052E5;
}